@page
@model Pajaros.Pages.PizzaListModel
@{
ViewData["Title"] = "Pizza List 🍕";
}
<h1>Pizza List 🍕</h1>

<!-- New Pizza form will go here -->
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="NewPajaro.Name" class="control-label"></label>
        <input asp-for="NewPajaro.Name" class="form-control" />
        <span asp-validation-for="NewPajaro.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPajaro.Size" class="control-label"></label>
        <select asp-for="NewPajaro.Size" class="form-control" id="PizzaSize">
            <option value="">-- Select Size --</option>
            <option value="Small">Small</option>
            <option value="Medium">Medium</option>
            <option value="Large">Large</option>
        </select>
        <span asp-validation-for="NewPajaro.Size" class="text-danger"></span>
    </div>
    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="NewPajaro.IsGlutenFree" /> @Html.DisplayNameFor(model => model.NewPajaro.IsGlutenFree)
        </label>
    </div>
    <div class="form-group">
        <label asp-for="NewPajaro.Price" class="control-label"></label>
        <input asp-for="NewPajaro.Price" class="form-control" />
        <span asp-validation-for="NewPajaro.Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
<!-- List of pizzas will go here -->
<table class="table mt-5">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Size</th>
            <th scope="col">Gluten Free</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pizza in Model.PajarosList)
        {
            <tr>
                <td>@pizza.Name</td>
                <td>@($"{pizza.Price:C}")</td>
                <td>@pizza.Size</td>
                <td>@(pizza.IsGlutenFree ? "✔️" : string.Empty)</td>
                <td>
                    <form method="post" asp-page-handler="Delete" asp-route-id="@pizza.Id">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

